<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <display-name>Yippee Servlet</display-name>
  <description>Searches yippee engine using keywords.</description>

  <servlet>
    <servlet-name>YippeeSearch</servlet-name>
    <servlet-class>com.yippee.web.YippeeSearch</servlet-class>
    
    <load-on-startup/>
	<init-param>
		<param-name>cacheServer</param-name>
		<param-value>158.130.102.94</param-value>
	</init-param>
	<init-param>
		<param-name>cacheServerPort</param-name>
		<param-value>8888</param-value>
	</init-param>

    
  </servlet>
  <servlet-mapping>
    <servlet-name>YippeeSearch</servlet-name>
    <url-pattern>yippee</url-pattern>
  </servlet-mapping>
  
</web-app>
